body {
  /* margin: 30px 10px 20px 10px; */
  background-color: black;
  color: white;
}

main {
  margin: 20px;
  min-height: 70vh;
}

/* @media only screen and (min-width: 580px) {
hide element on larger-than-mobile screens 
.my-element { 
  display: none;
    }
  } 
  
  @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  */